body {
    background-color: #3f3a36;
    font-family: 'Cormorant', serif;
    /* overflow-x: hidden; */
}

.over_nav {
    display: flex;
    overflow: hidden;
    margin-right: 1rem;
}

.moon {
    height: 8rem;
    width: 20rem;
    margin-left: 1%;
    margin-top: 1%;
}

.line1 {
    height: 2rem;
    margin-top: 1%;

}

h1 {
    display: flex;
    justify-content: center;
    color: black;
    font-weight: normal;
}

.navbar {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    margin-left: 1rem;
    margin-top: -6.2rem;
    margin-bottom:-8rem;
}

.navbar a {
    color: black;
    text-decoration: none;
    margin-left: 10%;
    margin-right: 10%;
}

.link:hover {
    color: whitesmoke;
    text-decoration: underline;
}

.line2 {
    height: 2rem;
    overflow: hidden;
    margin-left: 4.5rem;
    margin-bottom: 9.6rem;
}

h2 {
    display: flex;
    color: #e8e8e8;
    justify-content: center;
    letter-spacing: 0.5rem;
    margin-top: 3rem;
}
.carousel{
    display: block;
    block-size: 75%;
    padding-top: 5rem;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    
}

.my-caption{
    display: block;
    background-color:#3f3a36;
    font-family: 'Cormorant', serif;
    border-top: 5rem;
    padding-bottom: 2rem;
    margin-top: auto;
    margin-bottom: auto;
   
}


.form{
    display: block;
    align-content: center;
   
}

label{
    color: gainsboro;
    font-size: larger;
    padding-right: 3rem;
    display: inline-block;
    margin-bottom: .5rem;
}

input{
    display: inline-block;
    margin-left: 4rem;
    border-radius: 0.25rem;
}

textarea{
    max-width: 50rem;
}

.btn-primary {
    background-color:whitesmoke;
    color: rgb(7, 1, 1);
    margin-left: 11rem;
    font-size: larger;
    
}

.btn:hover {
    background-color: grey;
    color: whitesmoke;
}

.btn-ins {
    
    background-color:whitesmoke;
    height: 3rem;
    width: 3rem;
}

.fab {
    display: flex;
    margin-left: 0.25rem;
    color: black;

}

.form-group {
    font-size: 1.5rem;
    display: flex;
    justify-content: left;
    
}

.social {
    display: flex;
    justify-content: center;
}

.exampleFormControlinput1 {
    display: flex;
    padding-right: 5rem;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}