@media only screen and (max-width: 994px) {
    body {
        background-color: #3f3a36;
        font-family: 'Cormorant', serif;
    }
    .over_nav {
        display: flex;
        overflow: hidden;
        margin-right: 1rem;
        margin-top: 2%;
        margin-left: 3%;
    }
    .navbar {
        overflow: hidden;
        display: flex;
        justify-content: space-around;
    }
    .line2 {
        height: 2rem;
        overflow: hidden;
        margin-left: 4.5rem;
        padding-bottom: 1.8rem;
    }
    h1 {
        display: flex;
        justify-content: center;
        color: black;
        font-size: 20pt;
        font-weight: bolder; 
        margin-bottom: 1rem;
    }
    h2 {
        display: flex;
        color: #e8e8e8;
        justify-content: center;
        letter-spacing: 0.5rem;
        font-size: 15pt;
        font-weight: lighter;
        
    }

    #carouselExampleCaptions {
        position: relative;
        width: 90%;
        height: 20%;
        padding-bottom: -7rem;
    }

    .my-caption {
        width: 70%;
        position: relative;
        bottom: 0;
        height: 50%;
        margin-top: -10rem;
        font-size: 10pt;
    }

    #contact {
        width: 100%;
        height:20%;
        font-size: 9pt;

    }

    #name {
        font-size: 9pt;
        width: 90%;
    }

    #message {
        font-size: 9pt;

    }
    
    #fullname {
        font-size: 15pt;
        margin-right: 0.5rem;
    }

    #comments {
        font-size: 15pt;
        margin-right: 1.2rem;
    }
    
}

@media only screen and (min-width: 992px) {

    h1 {
        font-size: 25pt;
        margin-bottom: 1rem;
    }

    #carouselExampleCaptions {
        position: relative;
        width: 70%;
        height: 20%;
        padding-bottom: -7rem;
        padding-top: 3rem;
    }

    .my-caption {
        width: 70%;
        position: relative;
        bottom: 0;
        height: 50%;
        margin-top: -18rem;
        font-size: 10pt;
    }

    #contact {
        width: 100%;
        height:20%;
    

    }

    #name {
        font-size: 12pt;
        width: 90%;
    }
    
    #fullname {
        font-size: 15pt;
        margin-right: 0.5rem;
    }

    #comments{
        font-size: 15pt;
        margin-right: 1.2rem;
    }
}


body {
    background-color: #3f3a36;
    font-family: 'Cormorant', serif;
}

.over_nav {
    display: flex;
    overflow: hidden;
    margin-right: 1rem;
}

.moon {
    height: 8rem;
    width: 20rem;
    margin-left: 1%;
    margin-top: 1%;
}

.line1 {
    height: 2rem;
    margin-top: 1%;
}

h1 {
    display: flex;
    justify-content: center;
    color: black;
}

.navbar {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    margin-left: 1rem;
    margin-top: -6.2rem;
    margin-bottom:-8rem;
}

.navbar a {
    color: black;
    text-decoration: none;
    margin-left: 10%;
    margin-right: 10%;
}

.link:hover {
    color: whitesmoke;
    text-decoration: underline;
}

.line2 {
    height: 2rem;
    overflow: hidden;
    margin-left: 4.5rem;
    margin-bottom: 9.6rem;
}

h2 {
    display: flex;
    color: #e8e8e8;
    justify-content: center;
    letter-spacing: 0.5rem;
    margin-top: 3rem;
}
.carousel{
    display: block;
    block-size: 75%;
    padding-top: 1rem;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    
}

.my-caption{
    display: block;
    background-color:#3f3a36;
    font-family: 'Cormorant', serif;
    border-top: 1rem;
    padding-bottom: 2rem;
    margin-bottom: 12rem;
   
}




label{
    color: gainsboro;
    padding-right: 5rem;
    display: inline-block;
    margin-bottom: .5rem;
    font-size: 18pt;
    letter-spacing: 0.5rem;
}
.form {
    display: flex;
    justify-content: center;
    
}
input{
    display: inline-block;
    margin-left: 6rem;
    border-radius: 0.25rem;
}

.message{
    max-width: 50rem;
}

.btn-primary {
    background-color:whitesmoke;
    color: rgb(7, 1, 1);
    margin-left: 16.5rem;
    font-size: larger;
    
}


.btn:hover {
    background-color: grey;
    color: whitesmoke;
}

.btn-ins {
    
    background-color:whitesmoke;
    height: 3rem;
    width: 3rem;
}

.fab {
    display: flex;
    margin-left: 0.25rem;
    color: black;

}

.form-group {
    font-size: 1.5rem;
    display: flex;
    justify-content: left;
    
}

.social {
    display: flex;
    justify-content: center;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.carousel-indicators{
    margin-bottom: 12rem;
}

.contactline {
    height: 2rem;
    overflow: hidden;
    margin-left: 4.5rem;
    margin-right: 4.5rem;

}

.container {
    margin-bottom: 4rem;
}

.col {
    display:flex;
    justify-content: center;
    color:whitesmoke;

}
.card {
    background-color:  #3f3a36;
    border-color: #3f3a36;
}

.card-title {
    text-align:center;
    font-style: italic;
    font-size: x-large;
}

.card-text {
    text-align: left;
    letter-spacing: 0.1rem;
}

.title {
    color: #d2d2d4; 
    font-size: 1.1rem;
    margin-top: 0.4rem;
    margin-bottom: -0.4rem;
    text-align: center;
    letter-spacing: 0.05rem;
}

